@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-accent: #4f46e5;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f9fafb;
  background-image: radial-gradient(rgba(0, 0, 0, 0.02) 1px, transparent 1px);
  background-size: 5px 5px;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
}
